{% extends 'base.html' %}
{% block body_content %}
<p>HOME PAGE</p>

<table class="table">
    <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">User</th>
            <th scope="col">Start Date</th>
            <th scope="col">End Date</th>
            <th scope="col">Title</th>
            <th scope="col">Type</th>
            <th scope="col">description</th>
        </tr>
    </thead>
    <tbody>
        {% for todo in todos%}
        <tr>
            <th scope="row">{{todo.id}}</th>
            <td>{{todo.user.username}}</td>
            <td>{{todo.start_date}}</td>
            <td>{{todo.end_date}}</td>
            <td>{{todo.title}}</td>
            <td>{{todo.get_todo_type_display}}</td>
            <td>{{todo.description}}</td>
        </tr>


        {% endfor %}
    </tbody>
</table>

{% endblock body_content %}